<div class='container'>
  <h1>Editing Article</h1>

  <%= render 'form' %>

  <br />
  
  <%= link_to 'View', @article, class: 'btn btn-primary' %>
  <%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
</div>