<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Yet Another Blog</h1>
  <h3>Pre-work Rails application for CoderSchool.vn</h3>

  <%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>